footer {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background: #000;
    box-shadow: 0 0 5px #fff;
    text-align: center;

    .credit {
        p {
            color: #fff;

            a {
                color: #b46c00;
                &:hover {
                    color: rgba(#b46c00, 0.5);
                }
            }
        }
    }
}
