.page-title {
    width: 100vw;
    font-size: 20px;
    text-align: center;
    background-color: grey;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}
.vacation-and-recovery-page {
    --gap_vacation_page: .5rem;
    direction: ltr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 85vw;
    margin: auto auto;

    .mg_b_1-5 {
        margin-bottom: 1.5rem;
    }

    .data-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .p-date{
            color: var(--p_date_color);
        }

        .title {
            font-size: 1.2rem;
        }
        .date {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: var(--gap_vacation_page);
            input {
                padding: 0.25rem 0.5rem;
                font-size: 1rem;
                outline: none;
                text-align: center;
            }
        }
        .make-today-by-click {
            border: 1px solid black;
            border-radius: 10px;
            padding: 0.25rem 0.5rem;
            margin-top: var(--gap_vacation_page);
            cursor: pointer;
        }
        .error_msg {
            margin-bottom: 0.15rem;
            padding: 0.2rem;
            direction: rtl;
            width: 100%;
            text-align: center;
            background-color: red;
            transition: all 0.5s ease-in-out;
            &.hide {
                max-height: 0;
                opacity: 0;
            }
            &.show {
                opacity: 1;
            }
        }
    }

    .calc-btn {
        border: 1px solid black;
        border-radius: 30px;
        text-align: center;
        font-size: 1.2rem;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: #000;
            color: #ffffff;
        }
    }

    .full-width {
        width: 100vw;
    }
    .results-wrapper {
        direction: rtl;
        // width: 50vw;
        margin-top: 1.5rem;
        .bold {
            font-weight: 700;
        }

        .res {
            span {
                font-weight: 700;
                color: #f17d3a;
            }
        }
    }
}
